/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import '~ngx-toastr/toastr';
.color-black-primary {
    color: rgb(4, 17, 29);
}

.color-gray-primary {
    color: rgb(100, 109, 117);
}

.mat-dialog-container {
    padding: 0;
    overflow: hidden;
    .mat-dialog-title {
      margin: 0;
    }
    .mat-dialog-content {
      margin: 0;
      padding: 0;
    }
}

// Custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1 !important;
  border-radius: 5px !important;
}
::-webkit-scrollbar-thumb::hover {
  background: #808080;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
