<div class="overflow-x-auto" style="max-height: 400px">
    <table mat-table class="w-full" [dataSource]="dataSource">
        <tr mat-header-row *matHeaderRowDef="tableColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumn"></tr>

        <ng-container matColumnDef="transactionHash">
            <th mat-header-cell *matHeaderCellDef>Transaction Hash</th>
            <td mat-cell *matCellDef="let record" class="text-primary" [matTooltip]="record.transaction_hash ?? record.hash">
                {{abbreviatedStr(record.transaction_hash ?? record.hash)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="block">
            <th mat-header-cell *matHeaderCellDef>Block</th>
            <td mat-cell *matCellDef="let record" class="text-primary">{{record.block_number}} </td>
        </ng-container>

        <ng-container matColumnDef="dateTime">
            <th mat-header-cell *matHeaderCellDef>Date Time</th>
            <td mat-cell *matCellDef="let record">{{formatDate(record.block_timestamp)}} </td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>From</th>
            <td mat-cell *matCellDef="let record" class="text-primary" [matTooltip]="record.seller_address ?? record.from_address">
                {{abbreviatedStr(record.seller_address ?? record.from_address)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>To</th>
            <td mat-cell *matCellDef="let record" [matTooltip]="record.buyer_address">
                {{abbreviatedStr(record.buyer_address ?? record.to_address)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price (USD)</th>
            <td mat-cell *matCellDef="let record">{{(record.price ?? record.value)/100000000}} </td>
        </ng-container>
    </table>
</div>
